#app-container .cconf-continue-button,
#app-container .cconf-myorders-button,
#print-bank-invoice .link,
.payment-submit-wrap button,
#btn-client-pre-email,
.step .btn-submit-wrapper button,
.cart-template .summary .coupon-fields button,
.btn-place-order-wrapper #cart-to-orderform,
#cart-shipping-calculate,
.empty-cart-links .link-choose-products {
	background: {
		color: $c-accent03;
		image: none;
	}
	border: {
    radius: 0;
		width: 0;
	}
	font: {
		size: 12px;
		weight: 800;
	}
	min-height: 48px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	text: {
    transform: uppercase;
		shadow: none;
	}

	&:disabled,
	&[disabled] {
		background: {
			color: $c-gray14 !important;
		}
		&:focus,
		&:hover {
			background: {
				color: $c-gray14 !important;
			}
		}
	}
}

#print-bank-invoice .link {
	min-height: 56px;

	@include media('>=tablet') {
		max-width: 273px;
	}
}

.cart-template .summary .coupon-fields button {
	color: $white;
	margin: {
		left: 15px;
	}
	min-height: 40px;
	padding: 0 15px;
}

.product-name .clone-item {
	align-items: center;
	color: $white;
	display: flex !important;
	justify-content: center;
	margin: {
		top: 20px;
	}
	min-height: 50px;
	max-width: 190px;
	padding: 0 !important;
	text-transform: none;
	width: 40%;

	@include media('>=tablet') {
		max-width: 240px;
		min-height: 60px;
		width: 100%;
	}
}

#orderform-minicart-to-cart,
#orderform-to-cart {
	color: #1E88E5;
	font: {
		size: 14px;
	}
	margin: 0;
	position: relative;

	&::before {
		width: 24px;
		height: 24px;
		content: '';
		left: -40px;
		opacity: 1;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		transition: .4s
	}

	&:focus {
		text-decoration: none;
	}

	&:hover {
		text-decoration: none;
	}
}

#orderform-minicart-to-cart { 
	font-size: 12px;
	text-decoration: underline;

	&::before {
		display: none;
	}
}


.link-choose-more-products-wrapper {
  border: 1px solid $c-gray03;
  align-items: center;
  display: flex;
  font-size: 12px;
  justify-content: center;
  margin: {
    bottom: 20px;
  }
  height: 48px;
  #cart-choose-more-products {
    color: $c-gray05;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
  }
  @include media('>=tablet') {
    margin: {
      bottom: 0;
      right: 50px;
    }
    width: 287px;
  }
}

#payment-data-submit {
	&:hover {
		background-color: $c-primay01;
	}
}

#cart-shipping-calculate {
	color: $white;
	min-height: 30px;
	padding-left: 10px;
	padding-right: 10px;
}
