.cart-template {
	&-holder {
		background: {
			color: $white;
		}
	}

	.summary {
		display: flex;
		flex-direction: column;
		margin: {
			bottom: 30px;
		}
		@include media('>=tablet') {
			flex-direction: row;
			margin: {
				bottom: 40px;
			}
		}

		.cart-more-options {
			margin-left: 0;

			h2 {
				color: $c-gray06;
				font: {
					size: 16px;
					weight: 700;
				}
				line-height: 19px;
				margin-bottom: 21px;
			}

			.srp-data {
				margin-right: 0 !important;

				#shipping-calculate-link {
					background-color: $c-accent03;
					border-radius: 0;
					color: $white;
					margin: 0;
					padding: 10px;
				}

				.srp-toggle {
					margin-bottom: 20px;
					margin-right: 0;

					&__wrapper {
						box-shadow: none !important;
					}

					&__current {
						border-color: $c-primay01;
						border-radius: 0 !important;
						box-shadow: none !important;

						&.vtex-shipping-preview-0-x-frameDelivery + .srp-toggle__delivery,
						&.vtex-shipping-preview-0-x-framePickup + .srp-toggle__delivery + .srp-toggle__pickup {
							background-color: $white;
							color: $c-gray05 !important;
						}
					}

					&__delivery,
					&__pickup {
						background-color: $c-gray01;
						border-radius: 0 !important;
						color:  $c-gray04 !important;
						padding: {
							bottom: 14px;
							top: 14px;
						}
					}
				}

				.srp-pickup-empty {
					.srp-pickup-empty__my-location {
						.srp-pickup-my-location__button {
              background-color: $c-primay01;
              border: 1px solid $c-primay01;
              border-radius: 0;
							font: {
								weight: 600;
							}
							text-transform: capitalize;
						}
					}
				}

				.srp-result {
					.srp-delivery-header span,
					.srp-pickup-header span {
						color: $c-gray04;
						font: {
							size: 16px;
							weight: 400;
						}
						line-height: 19px;

						a {
							color: $c-primay01;
            }
            strong {
              font-weight: 400;
            }
					}

					.srp-unavailable {
						border-radius: 0;
					}
				}

				.srp-delivery-info {
					.srp-delivery-select-container,
					.srp-shipping-current-single {
						border-radius: 0;
            border-width: 1px;
            background: $c-gray01;
            border: 1px solid $c-gray02;
            &__sla, &__price  {
              color: $c-gray06;
            }
					}

					.srp-shipping-current-single {
						&__bullet svg path {
							fill: $c-primay01;
						}
					}
				}

				.srp-postal-code {
					.ship-postalCode {
            width: 130px;
            margin: 0;

            label {
              color: $c-black03;
            }
						input {
							background-color: $c-gray01;
              border: 1px solid $c-gray02;
              border-radius: 0;
              box-shadow: none;
              box-sizing: border-box;
              height: 48px;
						}
						span.error {
							position: absolute;
            }
					}
          #cart-shipping-calculate {
            height: 48px;
          }
				}
			}

			.srp-description {
				color:  $c-gray15;
				font: {
					 
				}
			}
		}

		&-coupon {
			clear: none;
			float: inherit !important;
			margin: 24px 0 0 !important;
			min-width: inherit;
			text-align: inherit;
			width: 100% !important;
			@include media('>=tablet') {
				margin: 0 !important;
			}

			.coupon-fieldset {
				& > div[data-bind] {
					display: block!important;
					height: 100% !important;
					margin: 0 !important;
					position: static;
					padding: 0 !important;
					width: 100% !important;
				}
			}

			&-wrap {
				margin: {
					bottom: 30px;
				}
				min-height: inherit;
				width: 100%;
				@include media('>=tablet') {
					margin: {
						bottom: 0;
					}
				}
			}

			.coupon-form {
				.coupon-label {
					text-align: left;
					width: 100%;

					label {
						color: $c-gray06;
						font: {
							size: 16px;
							weight: 700;
						}
						margin: {
							bottom: 16px;
						}
					}
				}

				.coupon-fields {
					margin: 0;
					width: 100%;

					& > span {
						display: flex;
						position: relative;
					}
				}
			}

			.coupon-data {
				color: $c-primay01;
				display: none !important;
				float: inherit;
				margin: 0;

				span {
					color: $c-primay01;
					font: {
						 
						size: rem(14);
						weight: 500;
					}
					letter-spacing: 0.5px;
					text-transform: uppercase;
					  
				}

				.link-coupon-add {
					color: $c-primay01;

					&:focus,
					&:hover {
						text-decoration: none;

						span {
							color: $c-primay01;
						}
					}
				}
			}
		}

		&-totalizers {
			margin: 0;
			padding: 0;
			min-width: 270px;
			width: 100%;
			@include media('>=tablet') {
				margin-left: auto;
				width: 25%;
			}

			tr {
				border: {
					width: 0;
				}
				display: flex;
				justify-content: space-between;

				&.hide {
					display: none;
				}
			}

			.accordion-group {
        margin: 0;
        
        .accordion-heading {
          display: block;
          .accordion-toggle {
            font-size: 0;
            padding-bottom: 0;
            margin-top: 16px;
            line-height: 19px;
            &::before {
              content: 'Resumo';
              color: $c-gray06;
              font-weight: 700;
              font-size: 16px;

            }
          }
        }
			}

			.table {
				color:  $c-gray15;
				display: flex;
				flex-direction: column;
				font: {
					 
					size: 14px;
					weight: 400;
				}
				margin-top: 16px;
			}

			.shipping-calculate,
			.totalizers-list {
				display: flex;
				flex-direction: column;

				.postal-code-for-sla .shipping-name-to {
					font-size: 0;

					&:before {
						content: 'em';
						font-size: 14px;
					}
				}

				.Items .info:empty::before {
					content: 'Subtotal';
				}
			}

			.shipping-calculate {
        display: none;
			}

			.totalizers-list {
				.retire-loja {
					td {
						padding: 0;

						img {
							width: 100%;
						}
					}
				}
			}

			.info,
			.monetary {
				padding: 0 0 10px;
			}

			.info {
				color:  $c-gray04;
				font: {
					 
					size:14px;
				}
				text-align: left;

				.postal-code-for-sla {
					font-size:14px;

					.cart-reset-postal-code {
            color: $c-primay01;
            .icon-remove-sign {
              display: none;
            }
					}
				}
			}

			.monetary {
        text-align: right;
        color:  $c-gray04;
				font: {
					size:14px;
				}
			}
			// .shipping-calculate tr,
			// .Items,
			// .Discounts {
			// 	display: flex;
			// 	justify-content: space-between;
			// 	margin: {
			// 		bottom: ($base-gutter*2);
			// 	}
			// }
			.Shipping {
				display: flex;
				justify-content: space-between;

				.info {
					margin: {
						bottom: 24px;
					}
					@include media('>=tablet') {
						margin: {
							bottom: 15px;
						}
					}
				}
			}

			.shipping-calculate-link {
				color: $c-primay01;
				transition: .4s;

				&:focus,
				&:hover {
					color: $c-primay01;
					text-decoration: none;
				}
			}

			.empty,
			.space {
				display: none;
			}

			tfoot tr {
				display: flex;
				justify-content: space-between;
				margin-top: 10px;
				width: 100%;

				td,
				td.info {
					font: {
						size: 16px;
						weight: 600;
					}
        }
        
        td.info {
          font-weight: 700;
          font-size: 16px;
          color: $c-gray06;
        }

				td.monetary {
					color: $c-primay01;
					font-weight: 700;
          font-size: 16px;
				}
			}

			.shipping-fieldset {
				position: relative;

				.postal-code-service,
				.summary-postal-code-service {
					a {
						color: $c-primay01;
						transition: .4s;

						&:focus,
						&:hover {
							color: $c-primay01;
							text-decoration: none;
						}
					}
				}

				.shipping-fields {
					display: flex;
					flex-wrap: wrap;
					width: 100%;
				}

				#cart-shipping-calculate {
					color: $white;
					font: {
						size: 12px;
					}
					margin: {
						left: 10px;
					}
					min-height: 20px;
					padding: 0 5px;
				}

				.icon-spin,
				.icon-spinner,
				.loading-inline {
					position: absolute;
					right: 100px;
				}
			}
		}
	}

	.cart-links-bottom {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		float: inherit;
		margin: 0;
		width: 100%;
		@include media('>=tablet') {
			align-items: center;
			flex-direction: row;
			justify-content: flex-end;
		}

		.btn-place-order-wrapper {
			@include media('>=tablet') {
				min-width: 270px;
				width: 25%;
			}

			#cart-to-orderform {
				align-items: center;
				display: flex;
				justify-content: center;
				padding: {
					bottom: 4px;
					top: 4px;
				}
				width: 100%;
			}
		}
	}

	.shipping-sla-selector {
		display: none;
	}

	.dropdown-menu.shipping-sla-options {
		@include media('<=phone') {
			left: 0;
			max-width: unset;
		}
	}
}
