.client-pre-email {
	background: {
		color: $white;
	}
	border: {
		width: 0;
	}

	.link-cart {
		margin: {
			bottom: 30px;
		}

		@include media('>=tablet') {
			display: block;
			margin: 0;
		}
	}

	.client-pre-email-h {
		margin: 0 0 25px;

		label {
			color: $c-gray08;
			font: {
				size: 22px;
			}

			small {
				font: {
					size: 18px;
				}
				padding: 15px 0 0;

				@include media('>=desktop') {
					padding: {
						left: 5px;
						top: 0;
					}
				}
			}
		}
	}

	.client-email {
		align-items: center;
		display: flex;
		flex-wrap: wrap;

		.loading-inline {
			right: 15px !important;

			@include media('>=tablet') {
				right: 180px !important;
			}
		}
	}

	input#client-pre-email {
		border: {
			color: $c-black04;
			radius: 0;
			style: solid;
			width: 1px;
		}
		display: flex;
		flex-grow: 1;
		width: 100% !important;

		@include media('>=phone') {
			margin: {
				right: 15px;
			}
			width: auto !important;
		}

		@include media('>=tablet') {
			margin: {
				right: 30px;
			}
		}
	}

	.help {
		width: 100%;
	}

	.span8 {
    // @extend %col-sm-8;
    flex-basis: 66.66667%;
    max-width: 66.66667%
	}

	.offset2 {
    // @extend %offset-sm-2;
    margin-left: 16.66667%
	}

	#btn-client-pre-email {
		margin: {
			top: 15px;
		}
		min-height: 50px;
		padding: 0 15px;
		right: 0;
		top: 0;
		width: 100%;

		@include media('>=phone') {
			margin: {
				top: 0;
			}
			width: auto;
		}
	}
}
