.empty-cart {
	&-content {
		background: {
			color: $white;
		}
		border: {
			width: 0;
		}
    padding: 16px 0;
    text-align: center;
    max-width: 396px;
    margin: auto;
	}

	&-title {
		color: $c-title;
		font: {
			size: 20px;
			weight: 800;
		}
		line-height: 1;
		margin: 0 0 8px;
    text-transform: none;
    &::before {
      background-image: $ico-empty-cart;
      content: '';
      width: 44px;
      height: 48px;
      margin: 35px auto 19px;
      display: flex;
    }
    @include media('>=tablet') {
      margin: 0 0 5px;

      &::before {
        margin: 67px auto 19px;
      }
    }
	}

	&-message {
		p {
			margin: 0;
			color:  $c-gray05;
			font: {
				size: 14px;
      }
    }
	}

	&-links {
		display: block;
		padding-top: 24px;

		.link-choose-products {
			align-items: center;
			display: flex;
			justify-content: center;
      max-width: 183px;
      margin: auto;
      font-weight: 800;
		}
	}
}
