.bf-footer-page {
	background-color: $white;
  margin-top: 16px;
  border-top: 1px solid $c-gray02;
	@include media('>=desktop') {
    margin-top: 24px;
    border: 0;
	}
}

.bf-stamps {
  padding: 24px 0;
  @include media('>=tablet') {
    display: flex;
    padding: 31px 0 35px;
    &__payment {
      width: 50%;
    }
  }

	@include media(">=desktop") {

    border-top: 1px solid $c-gray02;
	}

	&__title {
		margin: {
			bottom: 5px;
		}
    position: relative;
    
		h3 {
			color: $c-gray06;
			font: {
				size: 12px;
				weight: 800;
			}
      margin: 0 0 16px;
      text-transform: uppercase;
		}
	}

	&__cards {
		align-items: flex-end;
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 0 -15px;

		li {
			margin: 0 15px 10px;

			#seloEbit {
				max-width: 57px;
			}
		}

		&--credit {
			margin: 0 -5px 24px;

			@include media(">=desktop") {
				margin: {
					bottom: 0;
					top: 33px;
				}
			}

			li {
				margin: 0 5px 10px;
			}
		}
	}
}
