.client-pre-email,
.cart-items tr.item-attachments-content,
.cart-template .summary .coupon-fields {
	select,
	input {
    width: 100%;
    height: 50px;
		appearance: none;
		border: {
			color: $c-black04;
			radius: 0;
			style: solid;
			width: 1px;
		}
		box: {
			shadow: none;
			sizing: border-box;
		}
		color: $c-gray16;
		font: {
			size: 16px;
		}
		outline: none;
		padding: 0 20px;
		max-width: none;
    transition: .4s;

		&:active,
		&:focus {
			// border: {
			// 	color: $c-primay01 !important;
			// }
			box-shadow: none !important;
			outline: none !important;
		}
	}

	select {
		background: {
			image: url('/arquivos/icon-select.png');
			repeat: no-repeat;
			position: center right;
		}
	}
}

.cart-template .summary .coupon-fields {
	input[type='text'] {
		border-color: $c-gray16;
		border-radius: 0;
		color:  $c-gray15;
		font: {
			size: 14px;
			weight: 400;
		}
		height: 48px;
		max-width: none;
		width: 60%;

		@include media('>=tablet') {
			max-width: 150px;
			width: 100%;
		}

		@include media('>=wide') {
			max-width: 175px;
		}
	}
}

#summary-postal-code {
  background: $c-gray01;
	border: {
		color: $c-gray02;
		radius: 0px;
		style: solid;
		width: 1px;
	}
	box: {
		shadow: none;
	}
  flex-grow: 1;
  height: 48px;
	max-width: none;

	&:active,
	&:focus {
		box-shadow: none !important;
		outline: none !important;
	}
}

input.success {
	background: {
		position: 97% center;
	}
}

.input-small + span.error {
	display: block;
	width: auto;
}

#shipping-data,
.corporate-info-box,
.box-client-info-pf {
	select,
	input[type='tel'],
	input[type='text'],
	input[type='email'] {
		width: 100%;
    height: 50px;
    appearance: none;
    background-color: $c-gray01;
    border: 1px solid $c-gray02;
    border-radius: 0;

		box: {
			shadow: none;
			sizing: border-box;
		}
		color:  $c-gray15;
		font: {
			 
			size: 14px;
			weight: 400;
		}
		height: 48px;
		max-width: inherit;
		outline: none;
		padding: 0 16px;

		&:disabled {
			background-color: $c-gray14;
      border-color: $c-gray14;
      color: silver;
			color: $c-gray16;
		}

		&:focus {
			border-color: $c-primay01;
		}
	}

	select {
		background: {
			image: url('/arquivos/icon-select.png');
			repeat: no-repeat;
			position: center right;
		}
	}
}

#cart-coupon {
  border: 1px solid $c-gray02;
  background: $c-gray01;
}

.form-step {
  .box-client-info {
    label {
      color: $c-gray04;
      font-size: 12px;
    }
  }
}