body {
	background: {
		color: $white;
	}

	padding: 0;
  font-family: 'Open Sans', sans-serif;
	.container-order-form,
	.container-cart {

		box-sizing: border-box;
		overflow: hidden;

		@include media(">=tablet") {
			padding: 0 16px !important;
		}
  }
  
  .container {
    padding: 0 16px !important;
    overflow: hidden;
    @include media('>=desktop') {
      width: 1024px;
      margin: auto;
      box-sizing: border-box;
    }
    @include media('>=wide') {
      width: 1200px;
    }
    @include media('>=fullhd') {
      width: 1224px;
      padding: 0 !important;
    }
  }
}

::selection {
  background: $c-gray03;
}

.checkout-container {
	overflow: visible;
	position: static;
}

.loading-bg {
	background: {
		color: $white;
	}

	i {
		color: $c-primay01;
	}
}

.loading-coupon {
  width: 100%;
  height: 100%;
	background: {
		color: $white;
	}
	left: 0;
	margin: 0;
	position: absolute;
	top: 0;
  transition: .4s;
  z-index: 10;

	&::after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: auto;
    height: auto;
		animation: spin 0.7s infinite linear;
		color: $c-primay01;
		content: '\f110';
		display: inline-block;
		background: {
			image: none;
			position: 0% 0%;
			repeat: repeat;
		}
		font: {
			family: 'FontAwesome';
			size: 3em;
			style: normal;
			weight: normal;
		}
		line-height: normal;
		margin: 0;
		opacity: .5;
		speak: none;
		text-decoration: inherit;
		vertical-align: baseline;
	}

	span {
		display: none;
	}
}

.bf-input {
	&__help,
	&__error,
	&__error--required {
		color: $c-primay01;
		font: {
			size: 14px;
		}
		margin: {
			top: 5px;
		}
	}
}

.item-attachment-name-segmento,
.loading-coupon {
	display: none;
}

.row-fluid .full-cart,
.row-fluid .orderform-template {
	transition: opacity .4s;
}

.loading-bg {
  top: 40px;
}
