.bf-header-checkout {
	background: {
		color: $white;
	}
	border-bottom: solid 1px $c-gray16;
	display: flex;
  margin: 0 0 16px;
  height: 72px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.14);

	@include media('>=tablet') {
		height: 118px;
		margin: 0 0 24px;
		position: relative;
	}

	&__container {
		@include media(">=tablet") {
			display: flex;
			justify-content: space-between;
      position: relative;
      align-items: center;
		}
	}

	&__logo {
		align-items: center;
		display: flex;
		justify-content: center;
		@include media('>=tablet') {
			justify-content: flex-start;
			padding: {
				bottom: 0;
			}
		}

		.icon {
      width: 152px;
      height: 56px;
      background: none;
      @include media('>=tablet') {
        width: 184px;
        height: 86px;
      }
		}
	}

	&__steps {
    z-index: 10;
    position: fixed;
    bottom: 0;
    left: 0;
    background: $white;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.14);
    padding: 7px 0;

    @include media('>=tablet') {
      position: relative;
      bottom: unset;
      left: unset;
      width: auto;
      border-top: 0;
      padding: 0;
    }
    .bf-steps {
      display: flex;
      list-style-type: none;
      margin: 5px auto 0;
      padding: 0;
      position: relative;
      width: 300px;

      .icon {
        width: 40px;
        height: 40px;
        fill: $c-gray03;

        circle {
          stroke: $c-gray01;
          fill:$c-gray01;
        }
      }

      &:after,
      &:before {
        background-color: $c-gray02;
        content: '';
        height: 4px;
        position: absolute;
        top: 18px;
        transition: 0.4s;
        width: 100%;
        z-index: 2;
      }
    }

		.bf-steps::after {
      background-color: $c-primay01;
      width: 25%;
      z-index: 3;
    }

    .bf-steps--0::after {
      width: 32%;
    }

    .bf-steps--1::after {
      width: 57%;
    }

    .bf-steps--2::after {
      width: 75%;
    }

    .bf-steps--3::after {
      width: 100%;
    }

    .bf-steps--4::after {
      width: 100%;
    }

    .bf-steps__item {
      align-items: center;
      display: flex;
      flex-direction: column;
      position: relative;
      width: 25%;
      z-index: 4;
    }

    .bf-steps__item:first-child::before {
      left: 0;
    }

    .bf-steps__item:last-child::before {
      right: 0;
    }

    .bf-steps__item:first-child::before,
    .bf-steps__item:last-child::before {
      background-color: $white;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      width: 50%;
      z-index: -1;
    }

    .bf-steps__icon {
      align-items: center;
      background-color: $white;
      border-radius: 100%;
      display: flex;
      height: 40px;
      justify-content: center;
      width: 40px;
    }

    .bf-steps__icon--active {
      border: none;

      .icon {
        height: 40px;
        width: 40px;
        fill:$white;

        circle {
          stroke: $c-primay01;
          fill:$c-primay01;
        }
      }
    }

    .bf-steps__label {
      color:$c-gray06;
      text-transform: uppercase;
      font: {
        size: 10px;
      }
    }
	}
}
