.visuallyhidden {
	border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;

	.focusable {
		&:active,
		&:focus {
      clip: auto;
      -webkit-clip-path: none;
      clip-path: none;
      height: auto;
      overflow: visible;
      position: static;
      white-space: inherit;
      width: auto;
		}
	}
}
