.cart-template-holder {
	.cart {
		border: 0;
		margin: 0 0 24px;
		padding: 0;
	}

	.cart-items {
		background: {
			color: $white;
		}
		display: flex;
    flex-direction: column;
    
    @include media('>=tablet') {
      border: 1px solid $c-gray02;
    }

		& > tbody {
			@include media('>=tablet') {
				padding: 8px 0;
			}
		}

		& > thead {
			display: none;

			@include media('>=tablet') {
        display: block;
        padding: 24px;
        border-bottom: 1px solid $c-gray02;
			}

			tr {
				display: flex;
			}

			th {
				box-sizing: border-box;
				color: $c-gray04;
				font: {
					 
					size: 12px;
					weight: 400;
				}
				padding: 0 20px 0;
				text-align: left;

				&:first-child {
					padding-left: 0;
				}

				&.item-remove {
					display: none;
				}

				&.shipping-date,
				&.quantity-price,
				&.quantity,
				&.product-price {
					width: 16.66%;
				}

				&.product {
					width: 33.33%;
				}
			}
		}

		& > tbody {
      border: 1px solid $c-gray02;
      padding: 0 16px;
      @include media('>=tablet') {
        border: 0;
      }
      tr + tr {
        border-top: 1px solid $c-gray03 !important;
        @include media('>=tablet') {
          border: 0 !important;
        }
      }
			.product-item {
				align-items: flex-start;
				display: flex;
				flex-wrap: wrap;
				margin: 16px 0 0;
				padding: 8px 0;
				position: relative;

				+ .product-item {
					border-top-style: solid;

					@include media('>=tablet') {
						border-top-style: none;
					}
				}

				@include media('>=tablet') {
					align-items: center;
					margin: 0;
				}

				.bf-ticket {
					display: none;
				}

				td {
					box-sizing: border-box;
					padding: 0 30px;
				}

				.item-remove {
					min: {
						height: 14px;
						width: 14px;
					}
					padding: 0;
					position: absolute;
					right: 0;
					top: 10px;
					width: auto;

					@include media('>=tablet') {
						right: 0;
						top: 50%;
						transform: translateY(-50%);
					}

					.loading-text {
						background: {
							color: $white;
						}
						font: {
							size: 15px;
						}
						margin: 0;
						position: absolute;
						right: 2px;
						top: 2px;
					}

					.item-link-remove {
            padding: 0;
		
					}

					.icon {
						&::before {
              height: 24px;
              width: 24px;
              background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.562 3H9.5407L8.53643 4H5.02148V6H19.0813V4H15.5663L14.562 3ZM16.0685 9V19H8.03429V9H16.0685ZM6.02575 7H18.077V19C18.077 20.1 17.1731 21 16.0685 21H8.03429C6.9296 21 6.02575 20.1 6.02575 19V7Z' fill='%23C7C7C7'/%3E%3C/svg%3E");
              background-size: 24px;
              background-repeat: no-repeat;
              content: "";
              display: block;
            }
					}
				}

				.product-image {
          width: 60px;
          height: 60px;
					align-items: center;
					display: flex;
					justify-content: center;
					left: 0px;
					margin: 0;
					overflow: hidden;
					padding: 0;
					position: absolute;
					top: 8px;

					img {
						width: 60px;
            height: 60px;
						max-width: inherit;
          }
          
          @include media('>=tablet') {
            width: 80px;
            height: 80px;
            img {
              width: 80px;
              height: 80px;
            }
          }
				}

				.quantity-price,
				.shipping-date,
				.product-price,
				.quantity {
					margin: 0;
					padding: {
						bottom: 14px;
						left: 75px;
						right: 15px;
						top: 5px;
					}
					width: 100%;

					@include media('>=tablet') {
						padding: 0 20px;
						width: 16.66%;
          }
          
					&::before {
						color: $c-gray04;
						font: {
							size: 12px;
							weight: 400;
						}
						margin: {
							bottom: 5px;
						}
						display: block;

						@include media('>=tablet') {
							content: '';
							display: none;
						}
					}
				}

				.quantity-price {
					&::before {
						content: 'Total';
					}
				}

				.quantity {
					&::before {
            content: 'Quantidade';
            position: absolute;
            top: -25px;
            left: 0;
					}
				}

				.product-price {
					&::before {
						content: 'Preço';
					}
				}

				.shipping-date {
					&::before {
						content: 'Entrega';
					}
				}

				.quantity-price {
					align-items: flex-start;
					display: flex;
					flex-direction: column;

					span {
						color:  $c-gray06;
						font: {
							size: 12px;
							weight: 800;
						}
					}
        }

				.shipping-date {
					display: flex;
					flex-direction: column;
					text-align: left;

					.sla-price,
					.sla-name,
					span {
						color: $c-gray06;
						font: {
							weight: 800;
							size: 12px;
						}
						text-align: left;
					}
				}

				.product-name {
					align-items: baseline;
					display: flex;
					margin: 0 !important;
					min-height: auto;
					padding: {
						bottom: 0 !important;
						left: 75px !important;
						right: 15px !important;
					}
					width: 100%;

					@include media('>=phone') {
						padding: {
							right: 0px !important;
						}
					}

					@include media('>=tablet') {
            width: 33.33%;
            padding: {
              left: 95px !important;
            }
					}

					.seller,
					.brand {
						display: none;
          }

					& > a {
						color: $c-gray06;
						display: block;
						font: {
              size: 12px;
              weight: 800;
						}
            transition: .4s;
            max-height: 55px;
            overflow: hidden;
            text-overflow: ellipsis;
            text-transform: initial;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            display: -webkit-box;

						&:focus,
						&:hover {
							color: $c-primay01;
							text-decoration: none;
						}
          }
                    
          .clone-item.btn.btn-mini {
            position: relative;
            width: auto;
            height: auto;
            max-height: 100px;
            background: $c-primay01;
            text-shadow: none;
            color: $white;
            border: none;
            text-align: center;
            line-height: 14px;
            padding: 0 24px !important;
            font-size: 10px;
            border-radius: 0;
            margin: 9px 0 0;
          }
				}

				.quantity {
          align-items: center;
          border: 1px solid $c-gray02;
          background-color: $c-gray14;
          display: flex;
          justify-content: center;
          height: 40px;
          margin-top: 30px;
          margin-right: auto;
          max-width: 104px;
          position: relative;
          margin-bottom: 14px;
          margin-left: 75px;
          padding: 0;
          @include media('>=tablet') {
            margin-left: 25px;
          }

					input {
            height: 30px;
            width: 30px;
            border-width: 0;
            background-color: $c-gray14;
            -webkit-box-shadow: none;
            box-shadow: none;
            color: #3b3b3b;
            font-size: 14px;
            padding: 0;
            text-align: center;
					}

					.item-quantity-change {
            height: 24px;
            width: 24px;
            float: inherit;
            margin: 0 4px;
            padding-left: 0;
            padding-right: 0;
            padding: 0;
            position: absolute;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);


						// @include media('>=tablet') {
						// 	left: 20px;
						// }

						i {
							display: none;
						}
					}

					.item-quantity-change-decrement {
						background: {
							image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM4 12C4 16.41 7.59 20 12 20C16.41 20 20 16.41 20 12C20 7.59 16.41 4 12 4C7.59 4 4 7.59 4 12ZM7 11V13H17V11H7Z' fill='%23C7C7C7'/%3E%3C/svg%3E");
							repeat: no-repeat;
							size: cover;
            }
            left: 0;
            top: 50%;
						// top: 48px;

						// @include media('>=tablet') {
						// 	top: 18px;
						// }
					}

					.item-quantity-change-increment {
						background: {
							image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM11 7V11H7V13H11V17H13V13H17V11H13V7H11ZM4 12C4 16.41 7.59 20 12 20C16.41 20 20 16.41 20 12C20 7.59 16.41 4 12 4C7.59 4 4 7.59 4 12Z' fill='%23C7C7C7'/%3E%3C/svg%3E");
							repeat: no-repeat;
							size: cover;
						}
						// top: 34px;
            // transform: rotate(180deg);
            right: 0;
            top: 50%;
            left: auto;

						// @include media('>=tablet') {
						// 	top: 4px;
						// }
					}
				}

				.product-price {
					display: flex;
					flex-direction: column;
					text-align: left;

					@include media('>=tablet') {
						justify-content: center;
					}

					.how-much-discount,
					br,
					.new-product-price-label,
					.discount,
					.old-product-price-label {
						display: none;
					}

					.old-product-price {
						color: $c-gray16;
						display: block;
						font: {
							size: 10px;
						}
						margin: {
							bottom: 5px;
						}
					}

					.new-product-price {
						color: $c-gray06;
						font: {
              size: 12px;
              weight: 800;
						}
					}

					.new-product-real-price-per-unit {
						font: {
							size: 10px;
						}
					}
				}

				.bf-quantity {
					align-items: center;
					color: red;
					display: flex;
					font: {
						size: 16px;
						font-weight: 500;
					}

					@include media('>=tablet') {
						font: {
							size: 20px;
							font-weight: 500;
						}
					}
				}
			}
		}
	}
}
