.cart-fixed.affix,
.cart-fixed.affix-bottom {
	position: static !important;
	width: auto;
}

.step {
	background: {
		color: $white !important;
	}
  border: 1px solid $c-gray02 !important;
  border-radius: 0;
  padding: 28px 15px;

	@include media('>=tablet') {
		padding: 24px 24px 19px;
	}

	.notification {
		color: $c-gray16;
	}

	.accordion-inner {
		padding: 0;

		.box-info,
		.notification {
			color:#CCCCCC;
			font: {
				size: 14px;
				weight: 400;
			}

			.client-profile-email,
			.client-profile-summary {
				line-height: 20px;
			}
		}

		.vtex-omnishipping-1-x-deliveryChannelsWrapper {
			border-radius: 0;
			box-shadow: none;
		}

		.vtex-omnishipping-1-x-deliveryChannelsToggle {
			background: transparent;
			border-color: $c-primay01;
			border-radius: 0;
      box-shadow: none;
      z-index: 10;
		}

		.vtex-omnishipping-1-x-deliveryOptionActive {
      color: $c-gray05;
      text-transform: uppercase;
      font-size: 12px;
    }
    
    .vtex-omnishipping-1-x-deliveryOptionInactive {
      background: $c-gray01;
      color: $c-gray04;
      text-transform: uppercase;
      font-size: 12px;
    }

		.vtex-omnishipping-1-x-shippingSectionTitle {
			color:  $c-gray15;
			font: {
				size: 14px;
				weight: 400;
			}
		}

		.vtex-omnishipping-1-x-addressFormPart1 small {
			font: {
				weight: 400;
			}
			margin-left: 0;
		}

		.vtex-omnishipping-1-x-leanShippingGroupList {
			border-radius: 0;
			border-color: $c-gray16;

			.vtex-omnishipping-1-x-leanShippingOptionActive {
				background-color: transparent;
				border: 0;

				.shp-option-icon svg path {
					fill: $c-primay01;
				}

			}
		}

		.vtex-omnishipping-1-x-addressSummaryActive {
			.address-summary {
				border-color: $c-gray16;
				border-radius: 0;
			}
    }
    
    .address-list {
      .vtex-omnishipping-1-x-addressItemOption:hover, 
      .vtex-omnishipping-1-x-active {
        background: rgba(0, 29, 66, 0.10);
      }
      .shp-option-icon {
        svg {
          path {
            fill: $c-primay01;
          }
        }
      }
    }
    .vtex-omnishipping-1-x-buttonEditAddress, .vtex-omnishipping-1-x-buttonCreateAddress, .vtex-omnishipping-1-x-backToAddressList {
      border: 1px solid $c-primay01;
      color:  $c-primay01;
      border-radius: 0;
    }
	}

	span.error {
		display: block;
		font: {
			 
			size: 12px;
		}
		width: 100% !important;
	}

	a {
		color: $c-primay01;
	}

	.btn-submit-wrapper {
		margin: {
			top: 30px;
		}
	}

	.btn-submit-wrapper {
		button {
			background-color: $c-accent03;
			padding: {
				bottom: 18px;
				top: 18px;
			}
			width: 100%;
		}
	}

	label:not(.shp-lean-option):not(.address-item) {
		font: {
			 
			size: 12px;
		}
		display: block;
		margin: {
			bottom: 5px;
		}
	}
}

.accordion-toggle .link-box-edit {
	background: {
		color: transparent;
		image: none;
	}
  border-radius: 0;
  box-shadow: none;
  border: 0;
	opacity: 1;
	overflow: hidden;
  right: -12px;
  top: -12px;
	transition: background-color .4s;
  z-index: 1;
  .icon-edit {
    &::before {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.368 3.29L20.708 5.63C21.098 6.02 21.098 6.65 20.708 7.04L18.878 8.87L15.128 5.12L16.958 3.29C17.148 3.1 17.398 3 17.658 3C17.918 3 18.168 3.09 18.368 3.29ZM2.99805 17.25V21H6.74805L17.808 9.94L14.058 6.19L2.99805 17.25ZM5.91805 19H4.99805V18.08L14.058 9.02L14.978 9.94L5.91805 19Z' fill='%23C7C7C7'/%3E%3C/svg%3E%0A");
      content: '';
      width: 24px;
      height: 24px;
      display: flex;
    }
  }

	&:focus,
	&:hover {
		background: {
			color: transparent;
		}
	}

	i {
		color: $white;
	}
}
.accordion-toggle {
  color: $c-gray03;
}
.accordion-toggle-active {
	color: $c-gray06;
}
.accordion-toggle,
.accordion-toggle-active {
	font: {
		size: 18px;
		weight: 800;
	}
	line-height: 20px;
	padding: {
		bottom: 5px !important;
		left: 0 !important;
		right: 0 !important;
		top: 0 !important;
	}

	.icon-user,
	.icon-home,
	.icon-credit-card {
		display: none;
	}
}

.box-client-info-pf {
	float: inherit;
	margin: 0;
}

.box-client-info-pj {
	display: none;

	.corporate-hide-link {
		a#is-corporate-client {
			color:  $c-gray15;
			font: {
				 
				size: 14px;
				weight: 600;
			}
		}
	}
}

.client-notice {
	display: none;
}

p.ship-name,
p.client-email,
p.ship-state,
p.client-new-phone,
p.client-different-document,
p.client-company-ie,
p.client-company-postal-code,
p.client-document-type,
p.ship-number,
p.ship-city,
p.client-company-document,
p.payment-card-due-date {
	display: block;
	float: inherit !important;
	margin: {
		bottom: 15px;
		left: 0 !important;
		right: 0 !important;
	}
	width: 100%;
}

p.client-email {
	color:  $c-gray15;
}

p.ship-state,
p.ship-more-info,
p.ship-city,
p.ship-number,
p.client-first-name,
p.client-last-name,
p.client-document,
p.client-phone {
	box-sizing: border-box;
	display: block;
	margin: {
		bottom: 15px;
		right: 0;
	}
	width: 100% !important;
}

p.ship-city,
p.ship-number,
.orderform-template-holder p.client-first-name,
.orderform-template-holder p.client-document {
	input[type='tel'],
	input[type='text'] {
		width: 100% !important;

		&:focus {
			border-color: $c-primay01;
		}
	}

	@include media('>=tablet') {
		padding: {
			right: 0px;
		}
	}
}

p.ship-state,
p.ship-more-info,
.orderform-template-holder p.client-last-name,
.orderform-template-holder p.client-phone {
	input[type='tel'],
	input[type='text'] {
		width: 100% !important;

		&:focus {
			border-color: $c-primay01;
		}
	}
}

.links-other-phone {
	margin: 0 0 15px;
}

.newsletter {
	display: block;
	margin: 0;

	.newsletter-text {
		color: $c-black04;
		font: {
			size: 14px;
			weight: 400;
		}
	}
}

.other-phone {
	margin: {
		top: 15px;
	}
}

.client-profile-data h5 {
	color:  $c-gray15;
	font: {
		size: 16px;
		weight: 600;
	}
	margin: {
		bottom: 15px;
	}
}

.orderform-template {
	.box-step-content {
		@include media('>=tablet') {
			float: left;
		}
	}

	.steps-view {
		@include media('>=tablet') {
			margin: {
				left: 28px;
			}
		}
	}
}

.ship-filled-data {
	margin: 0;
	padding: 20px 0;
  width: 100%;
}

.box-delivery {
	display: flex;
	flex-wrap: wrap;
}

.shipping-summary-placeholder {
	.shipping-selected-sla {
		display: none;
	}

	.link-change-shipping {
		position: relative;
		transition: .4s;
    z-index: 1;
    border: 1px solid $c-primay01;
    border-radius: 0;

		&:hover {
			background: {
				color: $c-primay01;
			}
			border: {
				color: $c-primay01;
				style: solid;
			}
			color: $white;
		}
	}
}

.gift-card-section {
  margin: 0 0 5px;
  background-color: $white;
  padding-left: 0;
  .payment-discounts-cod {
    border: 1px solid $c-gray02;
    background: $c-gray01;
    height: 54px;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
  }
  #btn-add-gift-card {
    background: $c-primay01;
    box-shadow: none;
    border: 1px solid $c-primay01;
    color: $white;
    text-shadow: none;
    border-radius: 0;
    height: 56px;
    text-transform: uppercase;
    font-size: 12px;
  }
	@include media('>=wide') {
		width: 418px;
	}
}

.payment-group-list-btn {
  .payment-group-item {
    color: $c-gray06;
    margin: 0;
    border: 0 !important;
    opacity: 1;
    border-radius: 0 !important;
    border: 0;
    &.active {
      background-color: $white;
      border-left: 2px solid $c-primay01 !important;    
    }
  }
}

.steps-view, .iframe-credit-card-payment-group {
  background: $white;
}
.cart-template.mini-cart {
	display: flex;

	.cart-fixed {
		border: {
      style: solid;
      width: 1px;
      color: $c-gray02;
		}
		display: flex;
		flex-direction: column;
		height: auto !important;
		padding: 0;
		position: static !important;
    width: 100%;
    padding: 16px;

		.totalizers {
			min-width: inherit;
		}

		h2 {
			background: none;
			border: 0;
			color: $c-gray03;
			font: {
				size: 18px;
				weight: 800;
			}
			line-height: 20px;
			padding: 0;
			text: {
				align: left;
				shadow: none;
			}
		}
	}

	#go-to-cart-button {
		margin: 0;
    text-align: right;
    color: #1E88E5;

		@include media('>=tablet') {
			margin: {
        left: 0px;
				top: 0px;
			}
		}
	}

	.summary-template-holder {
		background: none;
		border: {
			radius: 0;
			width: 0;
		}
		overflow: visible;
		padding: {
			top: 10px;
		}
	}

	.payment-confirmation-wrap {
		background: {
			color: transparent;
		}
		border: none;
		bottom: inherit;
		left: inherit;
		padding: 0;
		position: static;
	}

	.summary-totalizers {
		.monetary,
		.info {
			font: {
				size: 14px;
				weight: 400;
			}
		}

		tfoot {
			.monetary,
			.info {
				font: {
					size: 16px;
					weight: 400;
				}
			}

			.info {
				color: $c-black04;
				font: {
					weight: 600 !important;
				}
			}
		}
	}

	.cart {
		max-height: none;
		overflow: visible;
	}

	.cart-items {
		.item {
			border: none;
			float: inherit;
			margin: 0;
			min-height: 80px;
			padding: {
				bottom: 10px;
				top: 10px;
			}
			position: relative;

			@include media('>=tablet') {
				min-height: 80px;
			}

			.url {
        width: 80px;
        height: 80px;
				align-items: center;
				display: flex;
				float: inherit;
				justify-content: center;
				left: 0;
				margin: 0;
				position: absolute;
				top: 12px;

				img {
					width: 80px;
          height: 80px;
					margin: 0;
					max-width: inherit;
				}
			}

			.product-name {
				color:  $c-gray06;
				float: inherit;
				font: {
          size: 12px;
          weight: 500;
				}
				line-height: 14px;
				padding: {
					left: 100px;
				}
				text: {
					overflow: clip;
					shadow: none;
				}
				white-space: normal;
				width: auto;
			}

			span.badge {
				background: {
					color: $c-accent03;
				}
				box-shadow: none;
				color: $white;
        top: 10px;
        padding: 2px 5px;
			}

			.description {
				margin: {
					top: 7px;
				}
				padding: {
					left: 100px;
				}

				.price {
					color: $c-gray04;
					float: inherit;
					font: {
						size: 14px;
						weight: 500;
					}
					margin: 0;
				}
			}
		}

		.shipping-date {
			display: none;
		}
	}
}
