.bf-seller-code {
  align-items: flex-end;
  display:flex;
  flex-direction: column;
  padding: {
    bottom: 16px;
  }
  width: 100%;

  &__body {
    align-items: center;
    display:flex;
    flex-direction: row;
    position: relative;
    width: 100%;

    @include media(">=tablet") {
      max-width: 292px;
    }
  }

  &__input {
    border: {
      color: $c-gray16;
      radius: 2px;
      style: solid;
      width: 1px;
    }
    box-sizing: border-box;
    box-shadow: none;
    font: {
      size: 14px;
    }
    height: 48px!important;
    margin: {
      right: 10px;
    }
    padding: 0 16px!important;
    width: calc(100% - 30px);

    @include media(">=tablet") {
      width: 262px;
    }
  }

  &__footer {
    width: 100%;

    @include media(">=tablet") {
      max-width: 292px;
    }

    &:not(:empty) {
      padding: {
        top: 8px;
      }
    }
  }

  &__inputed {
    font-weight: bold;
    color: $c-primay01;
  }

  &__tooltip {
    width: 20px;
    height: 20px;
    cursor: pointer;
    svg {
      width: 20px;
      height: 20px;
      pointer-events: none;
    }
  }
}

.bf-popover {
  display:none;
  will-change: transform;
  position: absolute;
  top: -108px;
  right: 0;
  z-index: 1060;
  max-width:  276px;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size:  12px;
  word-wrap: break-word;
  background-color: $c-primay01;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2px);
  border-radius: 5px;

  &-body {
    padding: 8px 12px;
    color: $white;
    font: {
      weight: 700;
    }
  }

  &-arrow {
    bottom: -12px;
    display: block;
    height: 8px;
    margin: 5px;
    position: absolute;
    right: 50%;
    width: 16px;
  }

  .bf-popover-arrow::after,
  .bf-popover-arrow::before {
      position: absolute;
      display: block;
      content: "";
      border-color: transparent;
      border-style: solid;
  }

  & > .bf-popover-arrow::before {
      bottom: 0;
      border-width: 8px 8px 0;
      border-top-color: rgba(0,0,0,.25);
  }

  & > .bf-popover-arrow::after {
      bottom: 1px;
      border-width: 8px 8px 0;
      border-top-color: $c-primay01;
  }
}
