#app-top h1,
h1#orderform-title,
h1#cart-title {
  border: {
		bottom: {
			color:$c-gray02;
			style: solid;
			width: 1px;
		}
  }
	color:$c-gray08;
	font: {
		size: 18px;
		weight: 400;
	}
	margin: 0 0 16px;
  padding-bottom: 8px;
  line-height: 21px;

	@include media(">=tablet") {
		padding: {
			bottom: 16px;
    }
    font: {
      size: 24px;
    }
    line-height: 28px;
    margin: 0 0 24px;
	}
}
